<% var user = this.model.user;
%>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSQL Example</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" >
                    <% if(!user.loginState) { %>
                        <li class="active"><a href="javascript:;" class="nav-item" data-target="login">Login <span class="sr-only">(current)</span></a></li>
                        <li><a href="javascript:;" class="nav-item" data-target="register">Register</a></li>
                    <% } else { %>
                        <li class="active"><a href="javascript:;">username: <%= user.name %></a></li>
                    <% } %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>