<% var user = this.model.user;
%>
<div class="col-xs-6">
    <div class='content' id='register'>
    <h1>Register</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control" id="register-username" placeholder="Enter username" value="<%= user.name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="register-userpassword" placeholder="Password" value="<%= user.password %>">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword2">Repeat Password</label>
                <input type="password" class="form-control" id="register-userpassword2" placeholder="Repeat Password">
            </div>

            <button type="submit" class="btn btn-default" id="register-button">Submit</button>
        </form>
    </div>
</div>